

.operations-title {
    line-height: 1.5em;
    position: relative;
    margin: 15vh 0;
    text-align: center;
    font-size: 5em;
  }
  
  .operations-subtitle {
    position: relative;
    margin: 5vh 0;
    font-size: 4em;
  }
  
  .operations-paragraph {
    margin-bottom: 10vh;
    text-align: left;
  }