

.youth-title {
    line-height: 1.5em;
    position: relative;
    margin: 15vh 0 ;
    text-align: center;
    font-size: 5em;
  }
  
  .youth-paragraph {
    margin-bottom: 10vh;
    text-align: center;
  }
  
  .youth-img {
    height: 50vh;
    width: 40vw;
    margin-bottom: 10vh;
  }