.about-title {
    width: 80vw;
    margin-left:-20vw;
  }

.table {
  width: 95vw;
  height: 60vh;
  margin-left: 2.5vw;
  font-size:1.5em;
}

.about-subtitle {
  width: 80vw;
  margin-left:-20vw;
}

.about-subtitle__h3 {
  width: 80vw;
  margin-left: -20vw;
}

.location {
  height: 50vh;
}