.help_us-title {
    margin-bottom: 10vh;
    margin-top: 100px;
  }

  .help_us-paragraph { 
    text-align: center;
  }

  .help_us-ol {
    
    li {
      width: 70vw;
      font-size: 1.5em;
      text-align: left;
     
      .help_us-ul {
        li {
          font-size: 1em;
        }
      }
    }

    .img-qrcode {
      position: relative;
      height: 40vh;
      width: 70vw;
      margin-left:0vw;
      margin-top: 0vh;
    }
  }