.operations-title {
    margin-bottom: 10vh;
    margin-top: 100px;
  }
  
  .swiper-container {
    width: 90vw;
    margin-left: 5vw;
    margin-bottom: 5vh;
  
    .swiper-button-prev{
      margin-left: 10vw;
    }
  
    .swiper-button-next{
      margin-right: 10vw;
    }
  }