.operations-title {
    font-size: 4em;
    margin-bottom:10vh;
  }
  
  .operations-subtitle {
    font-size: 3em;
  }
  
  .operations-subtitle__h3 {
    font-size: 2em;
  }
  
  .operations-paragraph {
    margin-bottom: 5vh;
  }