.operations-title {
    line-height: 1.5;
    text-align: center;
    font-size: 3em;
    margin-bottom: 2vh;
  }

  .operations-subtitle {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 5vh;
  }

  .operations-subtitle__h3 {
    font-size: 2em;
    margin-bottom: 4vh;
  }

  .swiper-container {
    height:30vh;
    width: 60vw;
  }